body{
    background-color: #ffe6e6;
    
}
.jumbotron{
    background-image: url(img/480087.jpg);
    background-repeat: no-repeat;
    background-position: top;
}

.text_area{
    margin-top: 80px;
}