*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

#navbar{        /*nem végeleges teszt fázis.*/
    position: fixed;
    top: 0;
    width: 1110px;

}

nav{
    background-color: plum;
    height: 80px;
    width: 100%;
    z-index: 1000;
    position: sticky;
    opacity: 0.9;
}

label.logo{
    color: white;
    padding: 5px;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;  /*igazítás*/
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,a:hover{
    background: mediumpurple;
    color: aliceblue;
    transition: .9s;    /*aminációs idő*/
    box-shadow: 0 0 8px 0;
    -webkit-transition: .9s;
    -moz-transition: .9s;
    -ms-transition: .9s;
    -o-transition: .9s;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width: 992px){
    nav ul li a{
      font-size: 16px;
    }
}

@media (max-width: 995px){
    .checkbtn{
      display: block;
}

@media (max-width: 995px){
    label.logo{
        padding: 10px;
        position: fixed;

}

ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: lightpink;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .8s;
      -webkit-transition: all .8s;
      -moz-transition: all .8s;
      -ms-transition: all .8s;
      -o-transition: all .8s;
}

nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
}
    
nav ul li a{
      font-size: 20px;
}
    
a:hover,a.active{
      background: none;
      background-color: plum;
      color: black;
}

#check:checked ~ ul{
      left: 0;
    }
}
  
section{
    background-size: cover;
    height: calc(100vh - 80px);
}