*{
    margin: 0;

}

body{
    font-family: sans-serif;
    background-image: url();
    margin: 0;
}

ul{
    list-style: none;
    display: flex;
}

a{
    text-decoration: none;
    color: #000;
}

#navbar{
    background-color: #ffcccc;
    padding: 20px;
    box-shadow: 0 0 15px 0;
    position: fixed;
    width: 100%;
    opacity: 0.6;
    top: 0;
    overflow: hidden;


}

.container_menu{
    display: grid;
    grid-template-columns: 2fr 3fr;
}

ul li a{
    padding: 39px;
    font-weight: bold;

}

ul li a.selected{
    background: #ff9999;
}

ul li a:hover{
    color: #000;
    background-color: #ff4d4d;
    box-shadow: 0 0 10px 0;
    text-decoration: none;
    opacity: 1;
}

/* Hmmm Facebook?! :D  */
.icon-bar {
    position: fixed;
    top: 90%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
  
.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}
.icon-bar a:hover {
    background-color: deeppink;
}
  
.facebook {
    background: darkviolet;
    color: white;
}

